# New Data Set  Standardization (placement.csv)

In [49]:
import numpy as np 
import pandas as pd

In [50]:
df = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\placement - placement.csv")

In [51]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [52]:
x = df.drop(columns = ['placed'],axis =1)
y =df['placed']

In [53]:
# !pip install scikit-learn

In [54]:
from  sklearn.model_selection import train_test_split

In [55]:
x_train ,x_test ,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 43)

In [56]:
from sklearn.preprocessing import StandardScaler

In [57]:
sc = StandardScaler()

In [58]:
x_train_sc = sc.fit_transform(x_train)

In [59]:
x_train_new = pd.DataFrame(x_train_sc ,columns =x_train.columns)

In [60]:
x_train_new.head(3)

       cgpa  resume_score
0 -0.579122     -0.329387
1  1.393125      0.828006
2  1.084669     -1.770454

In [61]:
x_train.head(3)

    cgpa  resume_score
8   6.32          6.71
33  8.43          7.73
45  8.10          5.44

In [62]:
# np.round(x_trian_new.describe(),2)

In [63]:
df = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\placement - placement.csv")

In [64]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [65]:
x = df.drop(columns = ['placed'],axis =1)
y =df['placed']

In [66]:
from  sklearn.model_selection import train_test_split

In [67]:

x_train ,x_test ,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 43)

In [68]:
from sklearn.preprocessing import StandardScaler

In [69]:
sc = StandardScaler()

In [70]:
x_train_sc = sc.fit_transform(x_train)

In [71]:
x_train_new = pd.DataFrame(x_train_sc ,columns =x_train.columns)

In [72]:
x_train_new.head(3)

       cgpa  resume_score
0 -0.579122     -0.329387
1  1.393125      0.828006
2  1.084669     -1.770454

In [73]:
x_train.head(3)

    cgpa  resume_score
8   6.32          6.71
33  8.43          7.73
45  8.10          5.44

# New Data Set  Standardization (tips.csv)

In [141]:
import numpy as np
import pandas as pd

In [142]:
df= pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\tips - tips.csv")

In [143]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [144]:
x= df.drop(columns = ['total_bill'])
y= df['total_bill']

In [145]:
 df = df.drop(columns=['sex','smoker','day','time'])

In [146]:
 !pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\bharaman\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\bharaman\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\bharaman\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\bharaman\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\bharaman\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [147]:
from sklearn.model_selection import train_test_split

In [148]:

x_train ,x_test ,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 43)

In [149]:
from sklearn.preprocessing import StandardScaler

In [150]:
sc = StandardScaler()

In [152]:
# x_train_sc = sc.fit_transform(x_train)

In [153]:
# x_train_new = pd.DataFrame(x_train_sc ,columns =x_train.columns)

# New Data Set StandardizationÂ¶(covid_toy.csv)

In [38]:
df = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\covid_toy - covid_toy.csv")

In [39]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [40]:
df = df.drop(columns =['gender','cough','city','has_covid'])

In [41]:
x = df.drop(columns = ['age'] )
y = df['age']

In [42]:
#  !pip install scikit-learn

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
# x_trian ,x_test ,y_trian , y_test = trian_test_split(x,y,test_size = 0.2 , random_state =43)
x_train ,x_test ,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 43)

In [45]:
from sklearn.preprocessing import StandardScaler

In [46]:
sc = StandardScaler()

In [47]:
x_train_sc = sc.fit_transform(x_train)

In [48]:
x_train_new = pd.DataFrame(x_train_sc ,columns =x_train.columns)